#chat-box {
    background-color: red;
}
#chat-box .login {
	height: 10%;
    width: 100%;
}
#chat-box .login button{
    width: 100%;
}
#chat-box .login input{
    width: 100%;
}
#chat-box .display {
	height: 80%;
}
#chat-box .input {
	height: 10%;
    width: 100%;
}
#chat-box .input button{
	width: 100%;
}
#chat-box .input input{
	width: 100%;
}